.text-overflow {
  --lh: 1.4rem;
  --max-lines: 8;
  line-height: var(--lh);
  max-height: calc( var(--lh) * var(--max-lines) );
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}
