<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cooking App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/backbone.radio.js"></script>
    <script src="js/libs/backbone.marionette.min.js"></script>
  </head>

  <body>

    <!-- Main parent view -->
    <script id="mainViewTemplate" type="text/template">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height:5em">
        <form class="form-inline" style="position:absolute">
          <a class="btn btn-primary mr-4" href="#">Saved Recipes</a>
          <div id="searchBar"></div>
          <input class="btn btn-success" type="submit" id="searchButton" value="Search"/>
        </form>
      </nav>
      <div id="main-content"></div>
    </script>
    <!-- Navigation search bar -->
    <script id="searchBarTemplate" type="text/template">
      <input class="form-control mr-sm-2" type="text" autocomplete="off" id="searchBox" />
      <div class="list-group" id="searchResults"></div>
    </script>
    <!-- Viewing full details of recipe -->
    <script id="showRecipeTemplate" type="text/template">
      <img src="<%= strMealThumb %>" class="img-fluid d-block mx-auto d-md-none"/>
      <div class="container">
        <div class="text-center my-3">
          <h1 class="d-inline-block align-baseline display-5 mr-1 mb-0"><strong><%= strMeal %></strong></h1>
          <input class="align-baseline btn btn-success btn-lg ml-1" type="submit" id="saveButton" value="save"/>
        </div>

        <h3><u>Intructions</u></h3>
        <div class="row">
          <div class="col-12 col-md-7">
            <p><%= strInstructions %></p>
          </div>
          <div class="d-none d-md-block col-5">
            <img src="<%= strMealThumb %>" class="rounded img-fluid"/>
          </div>
        </div>

        <h3><u>Ingredients</u></h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ingredient</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody id="ingredientsList"></tbody>
        </table>
        <div class="embed-responsive embed-responsive-16by9 mb-2">
          <iframe class="embed-responsive-item" src="<%=strYoutube%>"></iframe>
        </div>
      </div>
    </script>
    <!-- Recipe ingredient -->
    <script id="ingredientTemplate" type="text/template">
      <th scope="row"><%= ingredientNum %></th>
      <td> <%= strIngredient %> </td>
      <td> <%= strMeasure %> </td>
    </script>
    <!-- Saved recipe list item -->
    <script id="savedRecipeTemplate" type="text/template">
      <div class="row">
        <div class="col-3 d-none d-md-block">
          <img src="<%= strMealThumb %>" class="rounded" style="width:100%;height:auto;"/>
        </div>
        <div class="col">
          <h4 class="display-4"><%= strMeal %></h4>
          <input class="btn btn-lg btn-info" type="submit" id="viewButton" value="view" />
          <input class="btn btn-lg btn-warning" type="submit" id="removeButton" value="remove" />
        </div>
      </div>
    </script>
    <!-- Saved recipes full list -->
    <script id="savedRecipesTemplate" type="text/template">
      <div class="container">
        <h1 class="text-center display-3 mb-5 mt-2"><strong>Saved Recipes</strong></h1>
        <ul id="recipeList" class="list-group"></ul>
      </div>
    </script>
    <!-- Searched recipes full list -->
    <script id="searchedRecipesTemplate" type="text/template">
      <div class="container">
        <h1 class="text-center display-3 mb-5 mt-2"><strong>Results</strong></h1>
        <ul id="resultsList" class="list-group"></ul>
      </div>
    </script>
    <!-- Searched recipe list item -->
    <script id="searchedRecipeTemplate" type="text/template">
      <div class="card">
        <div class="card-header p-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 offset-lg-3 col-md-2 offset-md-3 col-sm-4 col-5 px-0">
                <h4 class="text-right"><%= strMeal %></h4>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-4 offset-sm-0 col-3 offset-1 pl-1 pr-0">
                <input id="viewButton" class="btn btn-block btn-info" value="view" />
              </div>
              <div class="col-lg-1 col-md-2 col-sm-4 col-3 pl-1 pr-0">
                <input id="addButton" class="btn btn-block btn-success" value="save" />
              </div>
            </div>
          </div>
        </div>
        <div class="container m-0">
          <div class="row d-none d-sm-flex">
            <div class="col-sm-8 p-0">
              <p class="card-text text-overflow m-2"> <%= strInstructions %> </p>
            </div>
            <div class="col-sm-4 p-1 d-none d-sm-block">
              <img src="<%= strMealThumb %>" class="img-fluid" style="width:100%;height:auto;"/>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- Bootstrap alert template -->
    <template id="alertTemplate">
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Successfully Saved Recipe</strong>
      </div>
    </template>

    <script src="js/main.js"></script>
    <script src="js/models.js"></script>
    <script src="js/collections.js"></script>
    <script src="js/views.js"></script>
    <script src="js/router.js"></script>
    <script>
      $(document).ready(function(){
        App.startURL = window.location.href; //Temporary for when its being run locally
        App.savedRecipes         = new App.Collections.SavedRecipes();
        App.searchPreviewRecipes = new App.Collections.SearchedRecipes();
        App.searchedRecipes      = new App.Collections.SearchedRecipes();

        App.Views.mainView.render();
        new App.Router();
        Backbone.history.start();
      });
    </script>

  </body>
</html>
